// colors
$primary: #7eb6b2;
$secondary: #e9bb30;
$dark-text: #484848;
$shadow: rgba(0, 0, 0, 0.7);

$background-dark: #343741;
$background-dark-light: #141928;
$background-light: #f4f5fa;
$background-light-light: #fcf8f6;

// sizes

$breakpoints: (
  "xxlarge": "(min-width: 1921px)",
  "xlarge": "(min-width: 1440px)",
  "large": "(min-width: 1024px)",
  ">=small<=medium": "(min-width: 240px) and (max-width: 1023px)",
  "medium": "(min-width: 700px) and (max-width: 1023px)",
  "small": "(min-width: 240px) and (max-width: 699px)",
  "tiny": "(min-width: 240px) and (max-width: 400px)"
) !default;
