// colors
$primary: #7eb6b2;
$secondary: #e9bb30;
$third: #0a0e1a;
$text: white;
$shadow: rgba(0, 0, 0, 0.7);

// $background: #343741;
// $background-light: #141928;

$theme-dark: (
  "background": #343741,
  "background-light": #141928,
  "text": white
);

$theme-light: (
  "background": #f0f2fb,
  "background-light": #e0e3f5,
  "text": #222735
);

// sizes

$breakpoints: (
  "xxlarge": "(min-width: 1921px)",
  "xlarge": "(min-width: 1440px)",
  "large": "(min-width: 1024px)",
  ">=small<=medium": "(min-width: 240px) and (max-width: 1023px)",
  "medium": "(min-width: 700px) and (max-width: 1023px)",
  "small": "(min-width: 320px) and (max-width: 699px)",
  "tiny": "(min-width: 320px) and (max-width: 400px)"
) !default;
