html[data-theme="dark"] .about {
  &__title span,
  &__title p {
    color: map-get($theme-dark, "text");
  }
}

html[data-theme="light"] .about {
  &__title span,
  &__title p {
    color: map-get($theme-light, "text");
  }
}

.about {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
  height: 680px;

  @include breakpoint("small") {
    display: block;
    padding: 40px 20px;
    height: auto;
  }

  &__title {
    padding-right: 60px;
    font-size: 6rem;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: right;
    color: $secondary;
    font-weight: bold;

    @include breakpoint("large") {
      font-size: 5.6rem;
    }

    @include breakpoint("medium") {
      padding-right: 40px;
      font-size: 5rem;
    }

    @include breakpoint("small") {
      transform: rotate(0);
      font-size: 4rem;
      padding-right: 0;
      margin-bottom: 30px;
      text-align: left;
      writing-mode: horizontal-tb;
    }

    @include breakpoint("tiny") {
      font-size: 3.8rem;
    }

    span {
      font-size: 6rem;
      @include breakpoint("medium") {
        font-size: 5rem;
      }

      @include breakpoint("small") {
        font-size: 4.2rem;
      }

      @include breakpoint("tiny") {
        font-size: 3.8rem;
      }
    }

    p {
      margin-right: 10px;
      font-size: 5.4rem;
      @include breakpoint("small") {
        font-size: 4.2rem;
        line-height: 4.2rem;
      }
    }
  }

  &__description {
    padding-left: 100px;
    padding-bottom: 80px;
    max-width: 70%;

    @include breakpoint("medium") {
      padding-left: 40px;
      max-width: 80%;
    }
    @include breakpoint("small") {
      padding-left: 0;
      max-width: 100%;
      padding-bottom: 20px;
    }
  }
}
