.about {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 60px 0;

  @include breakpoint("small") {
    display: block;
    padding: 40px 20px;
  }

  &__title {
    padding-right: 60px;
    font-size: 6rem;
    color: white;
    writing-mode: sideways-lr;
    text-align: right;
    color: $secondary;
    font-weight: bold;

    @include breakpoint("medium") {
      padding-right: 40px;
    }

    @include breakpoint("small") {
      font-size: 4.2rem;
      padding-right: 0;
      margin-bottom: 30px;
      text-align: left;
      writing-mode: horizontal-tb;
    }

    > span,
    p {
      color: white;
    }

    span {
      font-size: 6rem;
      @include breakpoint("small") {
        font-size: 4.2rem;
      }
    }

    p {
      margin-right: 10px;
      font-size: 5.4rem;
      @include breakpoint("small") {
        font-size: 4.2rem;
        line-height: 4.2rem;
      }
    }
  }

  &__description {
    padding-left: 100px;
    padding-bottom: 80px;
    max-width: 70%;

    @include breakpoint("medium") {
      padding-left: 40px;
      max-width: 80%;
    }
    @include breakpoint("small") {
      padding-left: 0;
      max-width: 100%;
      padding-bottom: 20px;
    }
  }
}
