.header,
.projects,
.footer {
  max-width: 90%;
  margin: 0 auto;

  @include breakpoint("xxlarge") {
    max-width: 70%;
  }

  @include breakpoint("medium") {
    max-width: 100%;
  }

  @include breakpoint("small") {
    max-width: 100%;
  }
}
