.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
  align-items: center;
  margin-bottom: 20px;
  @include breakpoint("small") {
    padding: 40px 20px;
  }
}

.menu {
  ul {
    display: flex;
  }

  li > a {
    padding: 10px 25px;
    cursor: pointer;
    color: white;
    font-size: 2.8rem;

    @include breakpoint("small") {
      font-size: 2.2rem;
      padding: 10px 12px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
