.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  align-items: center;

  @include breakpoint("small") {
    padding: 20px;
    display: block;
  }
}

.menu {
  @include breakpoint("small") {
    display: none;
  }

  ul {
    display: flex;
  }

  li > a {
    padding: 10px;
    cursor: pointer;
    font-size: 2.8rem;
    margin-left: 20px;

    &:first-child {
      padding-left: 0;
    }
  }

  a {
    position: relative;
    z-index: 1;
    display: inline-block;

    &:after {
      content: " ";
      display: block;
      height: 0;
      left: 16px;
      position: absolute;
      width: calc(100% - 20px);
      z-index: -1;
      bottom: 6px;
      background-color: $primary;
      transition: height 0.4s linear;
    }

    &:hover {
      &:after {
        height: 30%;
        opacity: 1;
      }
    }
  }
}
