.projects {
  padding: 60px 20px;

  @include breakpoint("small") {
    padding: 40px 20px;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 40%;
    grid-gap: 40px;
    grid-template-rows: 600px 350px 400px;

    @include breakpoint("medium") {
      grid-gap: 20px;
      grid-template-rows: 400px 200px 300px;
    }

    @include breakpoint("small") {
      grid-gap: 15px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 250px 180px 210px;
    }
  }
}

.container {
  perspective: 40px;
}

.project {
  background: rgba(237, 237, 237, 0.3);
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.4s ease-in-out;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
  width: 100%;

  &:hover {
    transform: perspective(1000px) rotateX(2deg) rotateY(2deg);
    will-change: transform;

    .project__content {
      opacity: 1;
    }
  }

  .project__content {
    background: rgba(7, 6, 8, 0.5);
    opacity: 0;
    bottom: 0;
    position: absolute;
    padding: 20px;
    transition: all 0.4s ease-in-out;
    width: 100%;

    h2 {
      font-size: 2.4rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.9rem;
      line-height: 2.1rem;
    }

    p {
      margin-bottom: 10px;
    }

    .view {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }

  &--one {
    background-image: url(/app/img/findfit.jpg);
  }

  &--two {
    background-image: url(/app/img/flexgrid.jpg);
  }

  &--three {
    background-image: url(/app/img/deaths.jpg);
  }

  &--fourth {
    grid-column: 2;
    grid-row: 2 / 4;
    background-image: url(/app/img/troopstats.jpg);
  }

  &--five {
    background-image: url(/app/img/air-polution.jpg);
  }
}

html[data-theme="light"] {
  .project__content {
    background: rgba(255, 255, 255, 0.84);
  }
}
