.switch {
  display: flex;
  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    background: white;
    border-radius: 100px;
    cursor: pointer;
    display: block;
    height: 45px;
    position: relative;
    text-indent: -9999px;
    width: 80px;

    @include breakpoint("small") {
      height: 30px;
      width: 50px;
    }
  }

  label:after {
    content: "";
    background: $primary;
    border-radius: 50px;
    height: 35px;
    left: 5px;
    position: absolute;
    transition: 0.3s;
    top: 5px;
    width: 35px;
    @include breakpoint("small") {
      height: 25px;
      top: 2px;
      width: 25px;
    }
  }

  input:checked + label {
    background: $background-dark-light;
  }

  input:checked + label:after {
    left: calc(100% - 4px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 90px;
  }
}
